<section class="hero-full-width-section">
    <div class="hero-container">
        <div class="hero-column-text">
            {{ with .preheader }}
            <span class="hero-preheader">{{ . | safeHTML }}</span>
            {{ end }}

            <h1 class="hero-header">{{ .header | safeHTML }}</h1>

            {{ with .description }}
            <p class="hero-description">{{ . | safeHTML}}</p>
            {{ end }}

            {{ with .cta_button }}
            {{ partial "bookshop" . }}
            {{ end }}
        </div>
        <div class="hero-column-image">
            <img src="{{ .hero_column_image }}">
        </div>
    </div>
</section>