@tailwind base;
@tailwind components;

html {
  scroll-behavior: smooth;
}

body {
  @apply box-border overflow-x-hidden font-light proportional-nums min-h-screen m-0;
  font-variant-numeric: proportional-nums;
}

.container {
  @apply max-w-full mobile-lg:max-w-screen-mobile-lg tablet:max-w-screen-tablet tablet-lg:max-w-screen-tablet-lg desktop:max-w-screen-desktop desktop-lg:max-w-screen-desktop-lg mx-auto px-3.5 tablet:px-7;
}

a {
  @apply no-underline;
  color: inherit;
}

.blue-btn {
  @apply py-3 tablet:py-4 tablet:px-8 text-white inline-flex justify-center items-center w-full tablet:w-1/2 border border-white rounded bg-blue-60 tablet:m-auto select-none hover:text-white hover:border-white hover:bg-blue-60 hover:bg-opacity-60;
}

.blue-btn span {
  @apply font-semibold uppercase text-16 leading-16 tablet:text-14 tablet:leading-18 desktop:text-18 pb-0.5 w-max whitespace-nowrap;
}

.white-btn {
  @apply px-7 py-2 desktop:py-4 text-blue-60 inline-flex justify-center items-center w-full tablet:w-1/5 border border-transparent rounded bg-white tablet:m-auto select-none hover:text-blue-60 hover:border-transparent hover:bg-white hover:bg-opacity-80;
}

.white-btn span {
  @apply font-semibold uppercase text-14 leading-18 desktop:text-18 pb-0.5 w-max whitespace-nowrap;
}

.stat-card {
  @apply bg-grey-70 rounded-md;
  width: 13rem;
  padding: 1.75rem;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.stat-card .stat-typography {
  @apply pb-4 font-semibold text-blue-60 text-40 leading-30 tablet:text-32 desktop:text-46;
}

.stat-card .description-typography {
  @apply text-center text-14 leading-18 tablet:text-12 tablet:leading-16 desktop:text-16 desktop:leading-20 font-thin;
}

.banner {
  @apply bg-cover py-7 tablet:py-8 desktop:py-18;
}

.banner .banner-container {
  @apply container flex flex-col tablet:flex-row items-center tablet:justify-around desktop:justify-between gap-5 tablet:gap-0;
}

.banner .banner-container .text {
  @apply tablet:w-6/12 desktop:w-7/12 text-white text-20 leading-26 text-center tablet:text-16 tablet:leading-20 tablet:text-left desktop:text-36 desktop:leading-40;
}

img {
  @apply w-full h-auto;
}

.hero-full-width-section {
  @apply bg-grey-5 py-10 tablet:py-20;
}

.hero-full-width-background-image {
  @apply text-white;
}

.hero-container,
.content-container {
  @apply flex flex-col tablet:flex-row gap-8 items-center;
}

.hero-container > div,
.content-container > div {
  @apply w-full tablet:w-1/2;
}

.hero-header {
  @apply mb-8 text-blue-60 font-semibold text-36 leading-36 desktop:text-58 desktop:leading-58;
}

.hero-full-width-background-image .hero-header {
  @apply text-white;
}

.hero-description {
  @apply mb-6;
}

.content-container {
  @apply py-10 tablet:py-20;
}

.content-header {
  @apply mb-8 text-28 leading-32 tablet:text-22 tablet:leading-28 desktop:text-36 desktop:leading-40 font-semibold;
}

.content-container:nth-child(odd) .content-column-text {
  @apply order-1;
}
