{{- define "main" -}}
{{/*  {{ partial "bookshop" .Params.sample }}  */}}
{{/* {{ partial "bookshop_partial" (slice "helper" (dict "lorem" "ipsum")) }} */}}
{{ partial "bookshop" (slice "hero" (dict "hero_text" "Hello World" "cta_button" (dict "_bookshop_name" "button" "button_text" "TEXT"))) }}
{{/*  <hr></hr>  */}}
{{ partial "bookshop_component_browser" }}
<hr></hr>
{{ partial "bookshop_bindings" `.Params.content_blocks` }}
{{ partial "bookshop_partial" (slice "page" .Params.content_blocks) }}
<div>
    <p class="text-purple-600 font-bold">test tailwind</p>
</div>
{{- end -}}